/* CSS */

body{
  text-align: center;  
}

#track {
    background: url('img/road.jpg') center left repeat-x;
    height: 330px;
    border-right: dashed 10px white;
    box-sizing: border-box;
    margin: 40px 0;
}

.car{
    display: block;
    position: relative;
}

#car1{top: 30px;}
#car2{top: 100px;}

#result{
width: 80%;
margin: 40px auto 0;
background: #333;
height: 200px;
}

#result h3{
    color: white;
    text-transform: uppercase;
    border-bottom: solid 1px white;
    padding: 20px 0;
}

.raceinfo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    width: 50%;
    float: left;
}

.raceinfo span {
    display: block;
    font-weight: normal;
    font-size: 18px;
    color: white;
}

#raceInfo1 {
    color: #77b82f;
}

#raceInfo2 {
    color: #b82f3e;
}

.clearfix:after {
    content:"";
    display: table;
    clear: both;
}